*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: Calibre-Regular, sans-serif;
  font-size: 1.6rem;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.ph {
  font-size: 1.5rem;
  color: #797575;
}

.btnContact {
  background-color: #09f755;
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: #000;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Calibre-SemiBold, sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnContact:hover {
  background-color: transparent;
  border: 1.5px solid #fff;
  color: #fff;
}
