@font-face {
  font-family: Calibre-SemiBold;
  src: url(/fonts/Calibre-SemiBold.21cc3335.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Medium;
  src: url(/fonts/Calibre-Medium.bb31c6b1.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Regular;
  src: url(/fonts/Calibre-Regular.0e30637c.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bgColor: #000;
  --primaryColor: #09f755;
  /* --primaryColor: #ff6700; */
  --secondaryColor: #797575;
  --textColor: #fff;
  --blur: 5px;
  --radius: 0.6em;
}

/* STYLES */
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Calibre-Regular, sans-serif;
  font-size: 1.6rem;
  background-color: var(--bgColor);
  color: var(--textColor);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.about,
.projects,
.experiments,
.contact {
  grid-column: 2/14;
  padding: 6rem;
}

.projects-wrapper,
.experiments-wrapper,
.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  color: #000;
}

/* TEXT */
p {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

a {
  color: #000;
  cursor: none;
  display: inline-block;
  padding: 0.6em 0.8em;
  position: relative;
  text-decoration: none;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity;
  z-index: 1;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}

a:not(:hover) {
  transition-property: transform, opacity;
}

a:active {
  opacity: 0.5;
  transform: translate(var(--translateX), var(--translateY)) scale(1);
}

.h2 {
  letter-spacing: -1px;
}
.h2,
.h3 {
  font-size: 4rem;
  text-transform: capitalize;
}
.h3 {
  letter-spacing: -0.5px;
  line-height: 4rem;
  font-family: Calibre-Medium, sans-serif;
}
.h4 {
  letter-spacing: 5px;
}
.h4,
.h5 {
  text-transform: uppercase;
}
.h5 {
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.dimmed {
  font-size: 1.5rem;
  color: var(--secondaryColor);
}

.dimmed-dark {
  font-size: 1.5rem;
  color: #413e3e;
}

.primary {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

/* HERO */
.header {
  position: relative;
  overflow: hidden;
  min-height: 80rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    min-height: 70rem;
  }
}

.header:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transform: rotate(180deg);
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(1.4) rotate(60)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(139, 94%, 50%, 1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='6' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='30%' height='100%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
*/
}

@media only screen and (max-width: 768px) {
  .header:after {
    background-image: none;
  }
}

.header .hero {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-70%);
}
@media only screen and (max-width: 56.25em) {
  .header .hero {
    top: 55%;
  }
}

.text {
  width: 25rem;
  position: relative;
  overflow: hidden;
  height: 10rem;
  margin: 1rem 0 1rem -2rem;
}

.text span {
  font-size: 8rem;
  color: #fff;
  text-transform: lowercase;
  font-family: Calibre-SemiBold, sans-serif;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.btnContact {
  background-color: var(--primaryColor);
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: var(--bgColor);
  border-radius: var(--radius);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Calibre-SemiBold, sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnContact:hover {
  background-color: transparent;
  color: var(--textColor);
}

/* SECTION ABOUT */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 4rem;
  color: #000;
}

.about span#age {
  color: var(--primaryColor);
  font-weight: bold;
}

.a-box {
  padding: 2rem;
  height: 35rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 2px solid #000;
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
  filter: invert(1);
}
.a-box:hover {
  color: #fff;
  background: #000;
  filter: invert(1);
}

/* SECTION PROJECT */

.a-link,
.p-link,
.e-link {
  align-self: flex-end;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .p-link,
  .e-link {
    width: 30%;
  }
}
.a-content,
.p-content,
.e-content {
  align-self: center;
}

.projects .box:first-child {
  background: url(/images/pmu.png);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects .box:last-child {
  background: var(--primaryColor);
}

.projects .box:last-child:hover {
  color: #fff;
  background: none;
  background: #000;
}

/* SECTION EXPERIMENTS */

.experiments .box:first-child {
  background: linear-gradient(180deg, rgb(195 38 110), rgb(41 66 112));
}

.experiments .box:nth-child(2) {
  background: linear-gradient(180deg, rgb(255 0 62), rgb(195 38 110));
}

.experiments .box:nth-child(3) {
  background: linear-gradient(180deg, rgb(255 95 80), rgb(255 0 62));
}

.experiments .box:nth-child(4) {
  background: linear-gradient(180deg, rgb(255 157 72), rgb(255 95 80));
}
.experiments .box:nth-child(5) {
  background: linear-gradient(180deg, rgb(205 224 240), rgb(255 157 72));
}
.experiments .box:nth-child(6) {
  background: linear-gradient(180deg, rgb(35 141 198), rgb(205 224 240));
}

.experiments .box:last-child {
  border: 2px solid #000;
  color: #000;
  background: none;
  filter: invert(1);
}

.experiments h4 span {
  text-decoration: underline;
  text-decoration-color: var(--primaryColor);
  text-decoration-thickness: 2px;
  letter-spacing: 1px;
}

/* GRID */

.box {
  padding: 2rem;
  height: 35rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
}

.box:first-child:hover,
.box:nth-child(2):hover,
.box:nth-child(3):hover,
.box:nth-child(4):hover,
.box:nth-child(5):hover,
.box:nth-child(6):hover,
.box:last-child:hover {
  border: 2px solid #fff;
  color: #fff;
  background: #000;
}

.box:last-child:hover a {
  color: #fff;
}

.box:first-child:hover img,
.box:nth-child(2):hover img,
.box:nth-child(3):hover img,
.box:nth-child(4):hover img,
.box:nth-child(5):hover img,
.box:nth-child(6):hover img,
.box:last-child:hover img {
  filter: invert(1);
}

/* FOOTER */

.foot {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  color: var(--secondaryColor);
}

/* MARGINS */
.mb-l {
  margin-bottom: 5rem;
}
.mb-m {
  margin-bottom: 3rem;
}
.mb-s {
  margin-bottom: 1.3rem;
}
.mt-s {
  margin-top: 1rem;
}

/* CURSOR */
.cursor,
.cursor__content {
  position: fixed;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  border-radius: var(--radius);
}

.cursor {
  z-index: 10;
  height: var(--height);
  left: var(--left);
  pointer-events: none;
  top: var(--top);
  transform: translate(-50%, -50%) scale(var(--scale));
  transition-property: width, height;
  width: var(--width);
  --top: -1em;
  --left: -1em;
  --width: 1em;
  --height: 1em;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}

.cursor__content {
  border: 2.5px solid #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translate(var(--translateX), var(--translateY));
}

.cursor.is-locked {
  transition-property: width, height, left, top;
}
