@font-face {
  font-family: Calibre-SemiBold;
  src: url(/fonts/Calibre-SemiBold.21cc3335.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Medium;
  src: url(/fonts/Calibre-Medium.bb31c6b1.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Regular;
  src: url(/fonts/Calibre-Regular.0e30637c.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bgColor: #000;
  --primaryColor: #09f755;
  /* --primaryColor: #ff6700; */
  --secondaryColor: #797575;
  --textColor: #fff;
  --blur: 5px;
  --radius: 0.6em; /* 0.6em */
}

/* STYLES */
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Calibre-Regular, sans-serif;
  font-size: 1.6rem;
  background-color: var(--bgColor);
  color: var(--textColor);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.about,
.projects,
.experiments,
.contact {
  grid-column: 2/14;
  padding: 6rem;
}

.projects-wrapper,
.experiments-wrapper,
.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  color: #000;
}

/* TEXT */
p {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

a {
  color: #000;
  cursor: none;
  display: inline-block;
  padding: 0.6em 0.8em;
  position: relative;
  text-decoration: none;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity;
  z-index: 1;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}

a:not(:hover) {
  transition-property: transform, opacity;
}

a:active {
  opacity: 0.5;
  transform: translate(var(--translateX), var(--translateY)) scale(1);
}

.h2 {
  letter-spacing: -1px;
}
.h2,
.h3 {
  font-size: 4rem;
  text-transform: capitalize;
}
.h3 {
  letter-spacing: -0.5px;
  line-height: 4rem;
  font-family: Calibre-Medium, sans-serif;
}
.h4 {
  letter-spacing: 5px;
}
.h4,
.h5 {
  text-transform: uppercase;
}
.h5 {
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.dimmed {
  font-size: 1.5rem;
  color: var(--secondaryColor);
}

.dimmed-dark {
  font-size: 1.5rem;
  color: #413e3e;
}

.primary {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

/* HERO */
.header {
  position: relative;
  overflow: hidden;
  min-height: 80rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    min-height: 70rem;
  }
}

@media only screen and (max-width: 768px) {
  .header:after {
    background-image: none;
  }
}

.header .hero {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-70%);
}
@media only screen and (max-width: 56.25em) {
  .header .hero {
    top: 55%;
  }

  .face {
    top: 60%;
  }
}

.text {
  width: 25rem;
  position: relative;
  overflow: hidden;
  height: 10rem;
  margin: 1rem 0 1rem -2rem;
}

.text span {
  font-size: 8rem;
  color: #fff;
  text-transform: lowercase;
  font-family: Calibre-SemiBold, sans-serif;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.btnContact {
  background-color: var(--primaryColor);
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: var(--bgColor);
  border-radius: var(--radius);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Calibre-SemiBold, sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnContact:hover {
  background-color: transparent;
  color: var(--textColor);
}

/* 3D */
.face {
  z-index: 0;
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translateY(-55%);
}

/* SECTION ABOUT */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 4rem;
  color: #000;
}

.about span#age {
  color: var(--primaryColor);
  font-weight: bold;
}

.a-box {
  padding: 2rem;
  height: 35rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 2px solid #000;
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
  filter: invert(1);
}
.a-box:hover {
  color: #fff;
  background: #000;
  filter: invert(1);
}

/* SECTION PROJECT */

.a-link,
.p-link,
.e-link {
  align-self: flex-end;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .p-link,
  .e-link {
    width: 30%;
  }
}
.a-content,
.p-content,
.e-content {
  align-self: center;
}

.projects .box:first-child {
  /* background: url(/images/pmu.png);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat; */

  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}

.projects .box:last-child {
  background-color: #7ee8fa;
  background-image: linear-gradient(
    315deg,
    #7ee8fa 0%,
    var(--primaryColor) 74%
  );
}

.projects .box:last-child:hover {
  color: #fff;
  background: none;
  background: #000;
}

/* SECTION EXPERIMENTS */

.experiments .box:first-child {
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}

.experiments .box:nth-child(2) {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.experiments .box:nth-child(3) {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
}

.experiments .box:nth-child(4) {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}
.experiments .box:nth-child(5) {
  background-color: #aff6cf;
  background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
}
.experiments .box:nth-child(6) {
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.experiments .box:last-child {
  border: 2px solid #000;
  color: #000;
  background: none;
  filter: invert(1);
}

.experiments h4 span {
  text-decoration: underline;
  text-decoration-color: var(--primaryColor);
  text-decoration-thickness: 2px;
  letter-spacing: 1px;
}

/* GRID */

.box {
  padding: 2rem;
  height: 35rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
}

.box:first-child:hover,
.box:nth-child(2):hover,
.box:nth-child(3):hover,
.box:nth-child(4):hover,
.box:nth-child(5):hover,
.box:nth-child(6):hover,
.box:last-child:hover {
  border: 2px solid #fff;
  color: #fff;
  background: #000;
}

.box:last-child:hover a {
  color: #fff;
}

.box:first-child:hover img,
.box:nth-child(2):hover img,
.box:nth-child(3):hover img,
.box:nth-child(4):hover img,
.box:nth-child(5):hover img,
.box:nth-child(6):hover img,
.box:last-child:hover img {
  filter: invert(1);
}

/* FOOTER */

.foot {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  color: var(--secondaryColor);
}

/* MARGINS */
.mb-l {
  margin-bottom: 5rem;
}
.mb-m {
  margin-bottom: 3rem;
}
.mb-s {
  margin-bottom: 1.3rem;
}
.mt-s {
  margin-top: 1rem;
}

/* CURSOR */
.cursor,
.cursor__content {
  position: fixed;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  border-radius: var(--radius);
}

.cursor {
  z-index: 10;
  height: var(--height);
  left: var(--left);
  pointer-events: none;
  top: var(--top);
  transform: translate(-50%, -50%) scale(var(--scale));
  transition-property: width, height;
  width: var(--width);
  --top: -1em;
  --left: -1em;
  --width: 1em;
  --height: 1em;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}

.cursor__content {
  border: 2.5px solid #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translate(var(--translateX), var(--translateY));
}

.cursor.is-locked {
  transition-property: width, height, left, top;
}
